/* You can remove most of the CSS from this file as we're now using Material UI components */
body {
  margin: 0;
  padding: 0;
}

.chat-wrapper {
  display: flex;
  flex-direction: column;
  height: 100%;
}

.sp-wrapper {
  height: 100%;
}